body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* .container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
} */

header {
  background-color: #1e0342;
  color: white;
  text-align: center;
  padding: 1em 0;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  background-color: #00215e;
  color: white;
}

.profile-image img {
  border-radius: 25%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid white;
}

.profile-info {
  margin-left: 2em;
  text-align: left;
}

.profile-info h2 {
  margin: 0;
}

.profile-info p {
  margin: 0;
  font-size: 1.2em;
  color: #bbb;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.story,
.personal-info {
  width: 48%;
}

.story h3,
.personal-info h3 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5em;
}

ul li {
  margin-bottom: 10px;
}

.story p {
  text-align: justify;
}

footer {
  text-align: center;
  padding: 2em 0;
  background-color: #1e0342;
  color: white;
}

footer h3 {
  margin: 0 0 1em 0;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 32px;
  height: 32px;
}
